body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 6px solid #d8e2dc;
    background: #f8edeb;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* web safe font stack 
    if can't find verdana, will find geneva and so on */
}

.card-text{
    padding-left: 10px;
    padding-right: 10px;
}

.border-blue{
    border: 1px dotted blue;
}
/* utility class */

.red-circle{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: #BC002D;
    margin: 40px 0 0 100px 
    /* margin top, right, bottom, left (basically clockwise) 
    if 2 values eg 40px auto, then means vertical line, horizontal line */
}
/* japanese flag, red circle */